<h2 mat-dialog-title>Crear Medico</h2>

<mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="class-fluid">
            <div class="row">
                <div class="col-12">
                    <mat-radio-group formControlName="habilitado" name="habilitado">
                        <mat-radio-button [value]="true">Habilitado</mat-radio-button>
                        <mat-radio-button [value]="false">Inhabilitado</mat-radio-button>
                     </mat-radio-group>
                </div>
                <div class="col-6">
                    <mat-form-field formControlName="dni" name="dni" class="example-form-field">
                        <mat-label>DNI</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field formControlName="nombre" name="nombre" class="example-form-field">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field formControlName="apellido" name="apellido" class="example-form-field">
                        <mat-label>Apellido</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-8">
                    <mat-slide-toggle formControlName="esEspecialista" name="esEspecialista">
                        Es especialista
                    </mat-slide-toggle>
                </div>
                
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class=" btn-hospital btn-cancelar" (click)="cancelar()" >Cancelar</button>
  <button class=" btn-hospital btn-principal" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
