.btn-hospital {
  border-radius: 25px !important; 
  border: none !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  

  box-shadow: none !important;
  outline: none !important;
  
  gap: 10px;
  padding: 0 24px !important; 
  height: 48px !important;
  cursor: pointer;
  
  font-weight: 600; 
  font-size: 16px;
  transition: all 0.3s ease; 
}

.btn-principal {
  background-color: var(--mat-sys-primary) !important; 
  color: var(--mat-sys-on-primary) !important;
}

.btn-cancelar {
  background-color: var(--mat-sys-surface-container-high) !important;
  color: var(--mat-sys-on-surface) !important;
}

.btn-hospital:hover {
  filter: brightness(1.1); 
  transform: translateY(-1px); 
}

.btn-hospital:active {
  transform: translateY(0px);
  filter: brightness(0.9);
}

.btn-hospital mat-icon {
  margin: 0 !important;
  font-size: 22px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}